<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Check In </title>

<!-- Reset.css style sheet -->
<link rel="stylesheet" type="text/css" href="./assets/css/reset.css">

<!-- This Links point to Your style sheets; you may/will need to alter these paths to your sites file structure. -->
{{!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> --}}
    
</head>
<body>
{{{ body }}}
</body>
</html>