<style>
  #heading {
    text-align: center;
    font-size: 4em;
    font:bolder;
    color: teal;
  } 
  body {
    background-color: rgb(247, 235, 222);

  }
  #address {
    text-align: center;
    color: black;
    font-size: 18pt;
  }

</style>

<div class="container">
  <div class="row">
    <div class="col s12">
      <span id="heading">Bayside School</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <span id="address">Please sign in below and have a seat. 
        We will begin shortly.</span>
      
    </div>
  </div>
  
  <div class="row">
    <div class="col s5">
      <h3>Checked In</h3>
    </div>
    <div class="col s2">
    </div>
    <div class="col s5">
      <h3>Checked out</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s5">
      <ul>
        {{#each dbStudent}}
        <li>
          <span class="glyphicons glyphicons-plus-sign"></span>
          <h4 class="truncate">
            <b>Name:{{this.lastName}}</b> Student #: {{this.studentNumber}}</h4>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col s2">
    </div>
    <div class="col s5">
      {{#each dbStudent}}
      <li>
        <span class="glyphicons glyphicons-minus-sign"></span>
        <h4 class="truncate">
          <b>Name:{{this.lastName}}</b> Student #: {{this.studentNumber}}</h4>
      </li>
      {{/each}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input placeholder="First Name" id="first_name" type="text" class="validate">
      <label for="first_name"></label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Last Name" id="last_name" type="text" class="validate">
      <label for="last_name"></label>
    </div>
    <div class="input-field col s4">
      <input placeholder="Student Number" id="Std_Num" type="text" class="validate">
      <label for="disabled"></label>
    </div>
  <div class="row">
      <div class="col s6">
            <button class="btn waves-effect waves-light" type="submit" name="check_in">
            <i class="material-icons right">Check In</i>
            </button>
        </div>
      <div class="col s6">
            <button class="btn waves-effect waves-light" type="submit" name="check_out">
              <i class="material-icons right">Check Out</i>
            </button>
        </div>
    </div>
</div>